@page "/R_Prestamos"
@page "/R_PRestamos/{PrestamoId:int}"

@using Prestamos_Blazor.Models;
@using Prestamos_Blazor.BLL;

@inject IToastService toastService

<EditForm Model="prestamos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>

    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <h3>Registro de Prestamos</h3>
            </div>
        </div>

        <div class="card-body">
            <form>

                <div class="form-row">

                    <div class="form-group col-sm-5   col-md-5    col-lg-4   col-xl-4">
                        <label><b>Persona ID</b></label>
                        <div class="input-group">
                            <InputNumber @bind-Value="prestamos.PrestamoId" class="form-control"></InputNumber>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3     col-md-2     col-lg-4     col-xl-4" />
                    <div class="col-sm-0     col-md-0     col-lg-1     col-xl-1" />


                    <div class="form-group col-sm-4     col-md-4     col-lg-3     col-xl-3">
                        <label><b>Fecha</b></label>
                        <InputDate @bind-Value="@prestamos.Fecha" class="form-control" />
                    </div>

                </div>


                <div class="form-group">
                    <label><b>Persona</b></label>
                    <select class="form-control" @bind="prestamos.PersonaId" @onclick="LlenaCombo">
                        <option value="0">---Seleccione una persona---</option>

                        @foreach (var item in listapersonas)
                        {
                            <option value="@item.PersonaId">@item.Nombre</option>
                        }

                    </select>
                </div>



                <div class="form-group">
                    <label><b>Concepto</b></label>
                    <InputText @bind-Value="prestamos.Concepto" class="form-control"></InputText>
                    <ValidationMessage For="@(() => prestamos.Concepto)"></ValidationMessage>
                </div>

                <div class="form-group">
                    <label><b>Monto</b></label>
                    <InputNumber @bind-Value="prestamos.Monto" class="form-control" @oninput="GetBalance" @onfocusin="GetBalance" @onfocusout="GetBalance"></InputNumber>
                    <ValidationMessage For="@(() => prestamos.Monto)"></ValidationMessage>
                </div>

                <div class="form-group">
                    <label><b>Balance</b></label>
                    <InputNumber @bind-Value="prestamos.Balance" class="form-control" Readonly="true"></InputNumber>
                </div>

            </form>

        </div>

        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>

            </div>

        </div>

        

    </div>

</EditForm>



@code {


    [Parameter]
    public int PrestamoId { get; set; }
    private Prestamos prestamos = new Prestamos();

    private List<Personas> listapersonas = new List<Personas>();
    PersonaBLL personabll = new PersonaBLL();

    Personas personas = new Personas();
    private string PersonaSeleccionada { get; set; }





    protected override void OnInitialized()
    {

        listapersonas = personabll.GetList(e => true);
        Nuevo();
        Buscar();
        personas  = new Personas();
        base.OnInitialized();
    }



    private void Buscar()
    {


        if (prestamos.PrestamoId != 0)
        {
            var encontrado = PrestamoBLL.Buscar(prestamos.PrestamoId);

            if (encontrado != null)
            {

                this.prestamos = encontrado;


            }
            else
            {
                toastService.ShowWarning("NO ENCONTRADO");
            }
        }

    }


    private void Nuevo()
    {
        this.prestamos = new Prestamos();

    }


    private void Guardar()
    {
        bool paso;

        paso = PrestamoBLL.Guardar(prestamos);

        if (paso)
        {
            toastService.ShowSuccess("GUARDADO");
            Nuevo();

        }
        else
        {
            toastService.ShowError("NO SE PUDO GUARDAR");
        }


    }

    private void Eliminar()
    {
        bool paso;

        paso = PrestamoBLL.Eliminar(prestamos.PrestamoId);

        if (paso)
        {
            Nuevo();
            toastService.ShowWarning("ELIMINADO");
        }
        else
        {
            toastService.ShowError("NO SE PUDO ELIMINAR");
        }
    }

    private void LlenaCombo()
    {
        try
        {
            personas = PersonaBLL.Buscar(Convert.ToInt32(PersonaSeleccionada));


        }catch (Exception)
        {

        }

    }

    private void GetBalance()
    {

        prestamos.Balance = prestamos.Monto;

    }


    }
